
.label{
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
.button-LN {
  margin-right: 0.8rem;
  font-size: 1.2rem;
  border-radius: 6px;
  cursor:pointer
}

.button-cnl{
font-size: 1.2rem;
border-radius: 6px;
cursor:pointer
}

.button-LN:hover{
  background-color: #9163CB;
  color:white;
}

.button-cnl:hover{
  background-color: #9163CB;
  color:white;
}

.inputContainer {
  margin-bottom: 1rem;
}