.editPF-body{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 300px;
}

.input-SUFContainer{
  margin-bottom: 15px;
}

.editPF-container{
  margin-top: 20px;
}

.editPF-btn{
  margin-bottom: 5px;
}